.projectWrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* padding: 48px;
  background-color: #f7f7f7;*/
  border-radius: 24px;
}


  





.projectDetails ul {
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.projectDetails ul li {
  list-style: none;
}
.projectDetails ul li:hover img {
  animation: spin 1s linear infinite;
}



.stackContainer {
  height: 10vh;
  margin-bottom: 1rem;
}

.projectLink1 {
  margin-top: 5px;
  width: 3vw;
}
.projectLink2 {
  width: 3.65vw;
}
.projectLink1:hover,
.projectLink2:hover {
  transform: translateY(-3px);
}
 
.contactForm input:focus,
.contactForm textarea:focus,
.contactForm select:focus {
  border-color: #6b48ff;
}
.projectText1{
  margin-top: 0;
}


@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.scrollButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.scrollButton:hover {
  opacity: 1;
}
