@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=League+Spartan&family=Open+Sans&family=Pacifico&family=Ubuntu&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
}

/* Header section */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 7em 2em;
}
.logo{
    margin-left: 4rem;
    width: 6vw;
}

/* Nav section */
.linkContainer{
    margin-left: 28vw;
}
.main-nav {
    margin-right: 5rem;
}
.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav li {
    margin-right: 2rem;
}
.main-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.main-nav a img{
    width: 3vw;
}
.main-nav a img:hover {
    animation: spin 1s linear infinite;
}
.contactMobile{
    display: none;
}
.NavBtn{
    display: none;
}

/* Mobnile dropdown menu */
.mobile-menu {
    z-index: 1;
    
    top: 1.5em;
    right: 1em;
}
.mobile-menu ul{
    padding: 0;
}
.mobile-menu ul li{
    padding: 1em 0.5em;
}
.mobile-menu ul li a{
    font-size: 0.8em;
    color: white;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

/* Intro section */
#mainIntro {
    margin-top: 20vh;
}
.introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin:-5em 0 10em 18em;
    padding: 0px;
}
.resumeWrap, .nameWrap{
    display: flex;
}.resumeLink{
    margin-left:0.4em;
}
.resumeLogo{
    width: 3vw;
    cursor: pointer;
}
.resumeLogo:hover {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}
.introText{
  font-size: 1.8vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/* Scroll down button */
.scrollContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 12rem;
  }
  .fa-angle-double-down {
    font-size: 2em;
    color: #333;
    animation: slideDown 2s infinite;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px); 
    }
}

/* Scroll up button */
.scrollUpButton {
    position: fixed;
    bottom: 2em;
    right: 1em;
    font-size: 2em;
    color: gray;
    cursor: pointer;
    border: 1px solid gray;
    width: 2.2vw;
    border-radius: 10px;
    background: linear-gradient(135deg, #fefefe38, transparent);
    text-align: center;
}
.scrollUpButton:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/* Project section */

.projectCont{
    background: linear-gradient(180deg, rgb(42,43,45,0.8), rgb(42,44,48,0.6));
    margin: auto;
    width: 70%;
    border-radius: 20px;
    display: flex;
    margin-bottom: 4em;
}
.projectLeft{
    display: flex;
    flex-flow: column;
}
.projectIMG{
    padding:2em;
}
.projectIMG a{
    display: flex;
    justify-content: center;
}
.pLink{
    display: flex;
    justify-content: center;
    background-color:#151617;
    height: 10vh;
    border-top-left-radius: 20px;
}
.stackWrap{
    display: flex;
    margin-left: 2em;
}
.projectLink{
    background-color:#151617;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-top-right-radius: 20px;
}
.stack1{
    color: #c1c4c6;
    padding:1em;
    align-self: center;
    text-transform: uppercase;
}
.fa-globe,.fa-github{
    color: #c1c4c6;
    font-size: 2em;
    padding: 0 1em;
}
.fa-globe:hover,.fa-github:hover{
    color: white;
}

.projectName {
    font-size: 1.6em;
    color: #ffffff;
    margin: 1em 0 1em 0;
    font-family: monospace;
    text-align: center;
}
.projectName p{
    margin: 0;
}
.projectContent1 {
    font-size: 1.4em;
    color: #ffffff;
}
.projectContent1 p{
    font-family: monospace;
    text-align: start;
    margin-left: 1em;
    margin-right: 1em;
}

.projectWrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 24px;
}
.projectContainer {
    margin-bottom: 8rem;
    transition: all 0.3s ease;
}
.projectText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
} 
.stack {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.95vw;
    font-weight: bold;
    text-transform: uppercase;
}
.projectCard, .workCard{
    display: flex;
    justify-content: center;
}
.projectImg {
    width: 30vw;
    border-right: 2px;
    border-left: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
    padding-right: 8vw;
}
.projectImage{
    width: 26vw;
    border-radius: 10px;
    transition: transform 1s ease;
}
.projectImage:hover {
    transform: scale(1.5);
    cursor: pointer;
}
.projectTitle {
    font-size: 2.2vw;
    color: #ffffff;
    margin: 1rem 0 4rem 0;
    font-family: 'League Spartan', sans-serif;
}
.projectTitle p{
    margin: 0;
}
.projectDetails {
    width: 30vw;
    text-align: center;
    padding: 0 2.2vw;
}
.projectContent {
    font-size: 1.4em;
    color: #ffffff;
    margin-top: 2rem;
}
.projectContent p{
    font-family: monospace;
    text-align: start;
    margin-left: 12em;
}
.projectHr,.workHr,.fa-android,.workHr2{
    display: none;
}

/* Work section */

.workWrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 8em;
}
.workText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
}
.workContainer {
    margin-bottom: 2rem;
    transition: all 0.3s ease;
}
.workDetails {
    width: 30vw;
    background: linear-gradient(180deg, rgba(121, 135, 149, 0.6), rgba(17, 29, 45, 0.9));
    border-radius: 10px;
    margin-right: 4em;
} 
.workContent{
    font-size: 1.4em;
    color: #ffffff;
    margin: 2rem auto;
}
.workContent p{
    font-family: monospace;
    text-align: start;
    margin-left: 6em;
}
.workCompanyWrap{
    display: flex;
}
.companyLogo{
    width: 8%;
    padding-left: 2em;
    align-self: end;
}
.workCompany{
    font-size: 1.8vw;
    font-weight: bold;
    margin-top: 0;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    padding: 1em 0 0 1em;
    margin-bottom: 0;
}
.workTitle{
    font-size: 1.2vw;
    color: #ffffff;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
}
.workLink{
    width: 3vw;
}
.workLink:hover {
    animation: spin 1s linear infinite;
}
.workImg {
    width: 30vw;
    position: relative;
}
.unisyncLink{
    position: absolute;
    z-index: 1;
    top: 6.6em;
    right: 0.1em;
    color: #81bff3;
}
.unisyncLink:hover{
    color: #b1dafc;
}
.work-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
    border-radius: 10px;
} 
.work-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.workImg ul{
    justify-content: center;
    display: flex;
    padding: 0px;
}
.workStack{
    height:4vh;
    padding-left: 1.8em;
    padding-bottom: 0.6em;
}
.workStack span{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #81bff3;
    font-size: 0.95vw;
    font-weight: bold;
    text-transform: uppercase;
}

/* Education section */
.educationText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
}
.educationContainer{
    display: flex;
    flex-flow: column;
    text-align: center;
    color:#ffffff;
}
.educationDrgree{
    font-size: 2.4em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0.3em;
}
.educationSchool{
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0.3em;
}
.educationMajor{
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0.3em;
    color: #81bff3;
}
.educationDate{
    font-size: 1em;
    margin-bottom: 3em;
}
.courseContainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 70vw;
    margin: auto;
}
.courseCard{
    text-align: center;
    color:#ffffff;
    border:1px solid gray;
    border-radius: 10px;
    background: linear-gradient(135deg, #161616, transparent);
    display: flex;
    flex-flow: column;
    width: 20vw;
    margin: 0.5em;
}
.courseCard p{
    font-size: 1.2em;
    font-family: 'League Spartan', sans-serif;
    padding: 1em;
    text-transform: uppercase;
}
.courseSpan{
    visibility: hidden;
}
.fa-window-restore,.fa-laravel,.fa-tools,
.fa-sitemap,.fa-cart-shopping,.fa-list-check{
    font-size: 3em;
}
.courseWrap{
    display: flex;
    flex-flow: row wrap;
    padding: 2em;
    justify-content: center;
}
.course {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.7vw;
    font-weight: bold;
    text-transform: uppercase;
}
.educationWrap{
    margin-bottom: 8em;
}

/* Contact section */
.contactWrap{
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}
.contactText{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
}
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 48px;
    border-radius: 24px;
    width: 40vw;
    background: linear-gradient(180deg, rgba(76, 138, 242, 0.4), transparent);
}
.formLabel {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
}
.formInput,
.formTextarea,
.formSelect {
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  background-color: #e7e7e7;
}

.formInput:focus,
.formTextarea:focus,
.formSelect:focus {
    border: 3px solid #4C8AF2;
}
.formBtn {
    background-color: #4C8AF2;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 10vw;
    align-self: center;
    margin-top: 1rem;
}
.formBtn:hover {
    background-color: #4a4aff;
    transform: scale(1.05);
}
.formSubmitted{
    color: #81bff3;
    font-family: 'League Spartan', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    align-self: center;
}









@media (max-width: 440px){
    body{
        padding: 0.5em;
    }
    #header{
        padding:0;
    }
    .logo{
        margin-left: 1rem;
        width: 14vw;
    }
    .linkContainer {
        margin-left: 0;
    }
    .navbar {
        display: none !important;
    }
    .main-nav{
        display: none !important;
    }
    .fa-bars{
        color:#e7e7e7;
        position: fixed;
        top:1.2em;
        right:1.3em;
        font-size: 1.5em;
    }
    .fa-caret-square-down{
        color:#e7e7e7;
        font-size: 1.5em;
        position: fixed;
        top:1.2em;
        right:1.3em;
    }
    #mainIntro{
        margin-top: 22vh;
    }
    .introContainer {
        width: 100%;
        margin:5em 0 10em 0;
    }
    .intro{
        font-size: 10vw !important;
    }
    .resumeWrap{
        flex-flow: column;
    }
    .introText{
        font-size: 4vw !important;
        margin: 4em auto;
    }
    .contactLinkWrap{
        display: flex;
        justify-content: center;
    }
    .contactLinkWrap a{
        margin:auto 0.5em;
    }
    .contactLinkWrap a img{
        width: 10vw;
    }
    .contactImg:hover {
        animation:none;
    }
    .resumeLink{
        margin-left: 0;
    }
    .contactMobile{
        display: block;
    }
    .contactImg{
        width: 3vw;
    }
    .NavBtn{
        display: block;
        padding: 0 1em;
    }
    .scrollBtn {
        width: 1rem;
        height: 0.3rem;
    }
    .projectCont{
        display: block;
        width: 100%;
        margin:0.2em 0 0.4em 0;
    }
    .pLink{
        height: auto;
        border-top-right-radius: 20px;
    }
    .stackWrap {
        margin: 0; 
    }
    .stack1{
        font-size: 0.7em;
    }
    .fa-angle-double-down {
        font-size: 1em;
    }
    .scrollContainer{
        padding-bottom: 2em;
    }
    .projectText{
        margin:0;
        font-size: 10vw;
    }
    .projectIMG {
        padding: 1em;
    }
    .projectImage{
        width: 100%;
    }
    .projectImage:hover {
        transform:none;
    }
    .projectLink{
        background: transparent;
        height: auto;
    }
    .projectName{
        font-size: 1.2em;
        margin: 2em 0 1em 0;
    }
    .projectContent1{
        font-size: 1em;
    }
    .projectHr{
        display: block;
    }
    .workHr2{
        display: block;
    }
    .workHr{
        display: flex;
        justify-content: center;
    }
    .fa-android{
        display: block;
        color: white;
        padding: 2em 2em 0 2em;
    }
    .workText{
        font-size: 6vw;
        margin: 0;
    }
    .educationText,.contactText {
        font-size: 10vw;
        margin: 2rem;
    }
    .workCard{
        flex-flow: column;
    }
    .workDetails {
        width: 100%;
        padding: 0 0 1.6em 0;
        margin: 0;
        text-align: center;
    }
    .workCompanyWrap{
        justify-content: center;
    }
    .companyLogo{
        padding-left: 0;
        align-self: center;
    }
    .workCompany {
        font-size: 4.5vw;
        padding: 2em 1em 1em 2em;
    }
    .workTitle {
        font-size: 3vw;
        margin-bottom: 0; 
        padding: 1em 0;
    }
    .workStack{
        padding: 0;
        height: auto;
    }
    .workStack span {
        font-size: 2.5vw;
    }
    .workImg {
        width: 100%;
        margin-top: 1em;
    }
    .workImg a{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .unisyncLink{
        color: #81bff3;
        position: initial;
        margin: 0.2em auto;
    }
    .workContent {
        font-size: 1em;
        margin: 0.5em auto;
    }
    .workContent p {
        margin-left: 0;
    }
    .workWrap {
        margin-bottom: 0;
        width: 100%;
    }
    .educationDrgree{
        font-size: 1.4em;
    }
    .educationSchool,.educationMajor{
        font-size: 1.3em;
    }
    .educationDate {
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    .courseContainer {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }
    .courseCard{
        width: 44vw;
        margin:0.5em 0;
    }
    .courseCard p {
        font-size: 0.8em;
        padding: 0;
    }
    .fa-window-restore, .fa-laravel, .fa-tools, .fa-sitemap, .fa-cart-shopping, .fa-list-check {
        font-size: 1.5em;
    }
    .course{
        font-size: 2.2vw;
        margin-right: 0.8em;
        margin-bottom: 0; 
        padding: 0;
        border-radius: 0; 
        color: #81bff3;
        background-color: black;
        box-shadow: none;
    }
    .courseWrap {
        padding: 1em;
    }
    .educationWrap {
        margin-bottom: 4em; 
    }
    .contactForm {
        padding: 2em;
        width: 100vw;
        margin: auto;
    }
    .formLabel{
        font-size: 0.8em;
    }
    .formBtn {
        font-size: 0.8em;
        padding: 0.5em;
        width: auto;
    }
    .scrollUpButton{
        font-size: 1.5em;
        width: 7vw;
    }

    /* Mobile touch animation */
    .resumeLogo {
        transition: transform 0.3s ease; 
    }
    .resumeLogo:hover{
        animation:none;
    }
    .resumeLogo:active {
        animation: mobileTouchAnimation 0.5s ease;
    }
    @keyframes mobileTouchAnimation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }





}