@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=League+Spartan&family=Open+Sans&family=Pacifico&family=Ubuntu&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 7em 2em;
}
  
.logo{
    margin-left: 4rem;
    width: 6vw;
}

/* Nav section */
.linkContainer{
    margin-left: 28vw;
}


/* Intro section */
#mainIntro {
    margin-top: 20vh;

}
.introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-top: -5rem;
    margin-left: 18rem;
    margin-bottom: 10em;
    padding: 0px;
}
.resumeWrap, .nameWrap{
    display: flex;
}.resumeLink{
    margin-left:0.4em;
}
.resumeLogo{
    width: 65%;
    cursor: pointer;
}
.resumeLogo:hover {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}
  
.introText{
  font-size: 1.8vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/* Project section */
.projectContainer {
    margin-bottom: 8rem;
    transition: all 0.3s ease;
}
.projectText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
} 
.stack {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.95vw;
    font-weight: bold;
    text-transform: uppercase;
}
.projectCard {
    display: flex;
    justify-content: center;
}
.projectImg {
    width: 30vw;
    border-right: 2px;
    border-left: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
    padding-right: 8vw;
}
.projectImg img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.projectImg img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.projectTitle {
    font-size: 2.2vw;
    color: #ffffff;
    margin: 1rem 0 4rem 0;
    font-family: 'League Spartan', sans-serif;
}
.projectTitle p{
    margin: 0;
}
.projectDetails {
    width: 30vw;
    text-align: center;
    padding: 0 2.2vw;
}
.projectContent {
    font-size: 1.4em;
    color: #ffffff;
    margin-top: 2rem;
    text-align: center;
}
.projectContent p{
    font-family: monospace;
    text-align: start;
    margin-left: 12em;
}
