@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=League+Spartan&family=Open+Sans&family=Pacifico&family=Ubuntu&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 7em 2em;
}
  
.logo{
    margin-left: 4rem;
    width: 6vw;
}

/* Nav section */
.linkContainer{
    margin-left: 28vw;
}


/* Intro section */
#mainIntro {
    margin-top: 20vh;

}
.introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-top: -5rem;
    margin-left: 18rem;
    margin-bottom: 10em;
    padding: 0px;
}
.resumeWrap, .nameWrap{
    display: flex;
}.resumeLink{
    margin-left:0.4em;
}
.resumeLogo{
    width: 65%;
    cursor: pointer;
}
.resumeLogo:hover {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}
.introText{
  font-size: 1.8vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/* Scroll up button */
.scrollUpButton {
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-size: 2em;
    color: gray;
    cursor: pointer;
    border: 1px solid gray;
    width: 2vw;
    border-radius: 10px;
    background: linear-gradient(135deg, #fefefe38, transparent);
    text-align: center;
}
.scrollUpButton:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/* Project section */

.projectCont{
    background: linear-gradient(180deg, rgb(42,43,45,0.8), rgb(42,44,48,0.6));
    margin: auto;
    width: 70%;
    border-radius: 20px;
    display: flex;
    margin-bottom: 4em;
}
.projectLeft{
    display: flex;
    flex-flow: column;
}
.projectIMG{
    padding:1em;
}
.pLink{
    display: flex;
    justify-content: center;
    background-color:#151617;
    height: 10vh;
    border-top-left-radius: 20px;
}
.stackWrap{
    display: flex;
    margin-left: 2em;
}
.projectLink{
    background-color:#151617;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-top-right-radius: 20px;
}
.stack1{
    color: #c1c4c6;
    padding:1em;
    align-self: center;
    text-transform: uppercase;
}
.fa-globe,.fa-github{
    color: #c1c4c6;
    font-size: 2em;
    padding: 0 1em;
}
.fa-globe:hover,.fa-github:hover{
    color: white;
}
.projectImage{
    width: 30vw;
    border-radius: 10px;
}
.projectName {
    font-size: 1.6vw;
    color: #ffffff;
    margin: 1rem 0 2rem 0;
    font-family: monospace;
    text-align: center;
}
.projectName p{
    margin: 0;
}
.projectContent1 {
    font-size: 1.4em;
    color: #ffffff;
}
.projectContent1 p{
    font-family: monospace;
    text-align: start;
    margin-left: 2em;
}

.projectWrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 24px;
}
.projectContainer {
    margin-bottom: 8rem;
    transition: all 0.3s ease;
}
.projectText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
} 
.stack {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.95vw;
    font-weight: bold;
    text-transform: uppercase;
}
.projectCard, .workCard{
    display: flex;
    justify-content: center;
}
.projectImg {
    width: 30vw;
    border-right: 2px;
    border-left: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
    padding-right: 8vw;
}
.projectImg img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.projectImg img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.projectTitle {
    font-size: 2.2vw;
    color: #ffffff;
    margin: 1rem 0 4rem 0;
    font-family: 'League Spartan', sans-serif;
}
.projectTitle p{
    margin: 0;
}
.projectDetails {
    width: 30vw;
    text-align: center;
    padding: 0 2.2vw;
}
.projectContent {
    font-size: 1.4em;
    color: #ffffff;
    margin-top: 2rem;
}
.projectContent p{
    font-family: monospace;
    text-align: start;
    margin-left: 12em;
}

/* Work section */
.workWrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 8em;
}
.workText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
}
.workContainer {
    margin-bottom: 2rem;
    transition: all 0.3s ease;
}
.workDetails {
    width: 30vw;
    padding: 2em 0 2em 2em;
    background: radial-gradient(circle, rgba(35, 39, 43, 0.6), rgba(17, 29, 45, 0.9));
    border-radius: 10px;
    margin-right: 4em;
} 
.workContent{
    font-size: 1.4em;
    color: #ffffff;
    margin: 2rem auto;
}
.workContent p{
    font-family: monospace;
    text-align: start;
    margin-left: 6em;
}
.companyLogo{
    width: 2vw;
}
.workCompany{
    font-size: 1.8vw;
    font-weight: bold;
    margin-top: 0;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
}
.workTitle{
    font-size: 1.2vw;
    color: #ffffff;
    margin-bottom: 1.5em;
}
.workLink{
    width: 3vw;
}
.workLink:hover {
    animation: spin 1s linear infinite;
}
.workImg {
    width: 30vw;
}
.work-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
    border-radius: 10px;
} 
.work-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.workImg ul{
    justify-content: center;
    display: flex;
    padding: 0px;
}
.workStack{
    height:4vh;
}
.workStack span{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #81bff3;
    font-size: 0.95vw;
    font-weight: bold;
    text-transform: uppercase;
}

/* Education section */
.educationText {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
}
.educationContainer{
    display: flex;
    flex-flow: column;
    text-align: center;
    color:#ffffff;
}
.educationDrgree{
    font-size: 2.4em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0.3em;
}
.educationSchool{
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0.3em;
}
.educationMajor{
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0.3em;
    color: #81bff3;
}
.educationDate{
    font-size: 1em;
    margin-bottom: 3em;
}
.courseContainer1{
    display: flex;
    justify-content: center;
    margin: auto;
}
.courseCard{
    text-align: center;
    color:#ffffff;
    border:1px solid gray;
    border-radius: 10px;
    background: linear-gradient(135deg, #161616, transparent);
    display: flex;
    flex-flow: column;
    width: 20vw;
    margin: 0.5em;
}
.courseCard p{
    font-size: 1.2em;
    font-family: 'League Spartan', sans-serif;
    padding: 1em;
    text-transform: uppercase;
}
.fa-window-restore,.fa-laravel,.fa-tools,
.fa-sitemap,.fa-cart-shopping,.fa-list-check{
    font-size: 3em;
}
.courseWrap{
    display: flex;
    flex-flow: row wrap;
    padding: 2em;
    justify-content: center;
}
.course {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.7vw;
    font-weight: bold;
    text-transform: uppercase;
}
.courseContainer2{
    display: flex;
    justify-content: center;
    margin: auto;
}
.educationWrap{
    margin-bottom: 8em;
}

/* Contact section */
.contactWrap{
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}
.contactText{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: #4C8AF2;
    margin: 4rem;
}
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 48px;
    border-radius: 24px;
    width: 40vw;
    background: linear-gradient(180deg, rgba(76, 138, 242, 0.4), transparent);
}
.formLabel {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
}
.formInput,
.formTextarea,
.formSelect {
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  background-color: #e7e7e7;
}

.formInput:focus,
.formTextarea:focus,
.formSelect:focus {
    border: 3px solid #4C8AF2;
}
.formBtn {
    background-color: #4C8AF2;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 10vw;
    align-self: center;
    margin-top: 1rem;
}
.formBtn:hover {
    background-color: #4a4aff;
    transform: scale(1.05);
}
.formSubmitted{
    color: #81bff3;
    font-family: 'League Spartan', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    align-self: center;
}